/********************
YOUR STYLES
*******************/

/* SECTION STYLING */

    @import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/1.3.2/css/weather-icons.min.css');

    #weather h2 {
        font-family: 'weathericons';
        font-size: 300;
        color: #ECF0F1;
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    main {
        background: #22313F;
        padding: 1em;
        margin: 1em;
        border-radius: 20px;
    
        /* flexbox */
            display: flex;
            flex-flow: row wrap;
    }

    div {
        background: #3A539B;
        border-radius: 10px;
        padding: 1em;
        margin: 1em;
        justify-content: space-between;
        text-align: center;
        /* flexbox as child */
            flex: 1 0 200px;
        /* flexbox as parent */
        
    }

img {
    margin: 2em 0 0 0;
}

/* TEXT STYLING */

    h1 {
      margin: auto;
      font-size: 1.5em;
      color: #ECF0F1;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 200;
    }

    h3 {
        margin: auto;
        color: #ECF0F1;
        font-family: 'Lato', sans-serif;
        font-weight: 100;
        font-size: 6em;
    }

    .currently {
      margin: auto;
      color: #ECF0F1;
      font-family: 'Montserrat', sans-serif;
      font-weight: 100;
      font-size: 1em;
    }

    .bg-25,
    .bg-26,
    .bg-27 {
      background: #BFBFBF;
    }

/********************
MEDIA QUERIES
*******************/
/* Desktop */
@media screen /* 2560px = 160em */
  and (max-width: 160em)
  /* 1280px = 80em */
  and (min-width: 80em) { 
  
  /* Diagnostic Styling. */


}

/* Tablet */
@media screen 
   /* 1279 = 79.9375em */  
  and (max-width: 79.9375em)
   /* 768px = 160em */
  and (min-width: 48em)  {

  /* Diagnostic Styling. */
 

}

/* Mobile */
@media screen
  /* 767px = 47.9375em */
  and (max-width: 47.9375em)
  /* 320px = 20em */
  and (min-width: 20em) { 

  /* Diagnostic Styling. */

	}
	
}
